@media screen {
	body {
		background-color: #fff;
		font-family: "Segoe UI", "Courier New", monspace;
		margin: 0;
		padding: 0;
		-webkit-user-select: none;
		overflow-x: hidden;
	}
	body * {
		outline: none;
		font-size: 10px;
	}
	
	div.loading {
		font-size: 128pt;
		font-weight: bold;
		text-align: center;
		position: absolute;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background-color: #FFF;
		height: 100%;
		padding-top: 120px;
	}
	div.expired {
		display: none;
		font-size: 108pt;
		font-weight: bold;
		text-align: center;
		position: absolute;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background-color: #F00;
		height: 100%;
		padding-top: 80px;
	}
	div.expired > span {
		font-size: 132pt;
	}

	tab-group {
		z-index: 100;
		position: absolute;
		top: -4px;
	}
	tab-button, toggle-button {
		float: left;
	}
	tab-button.disabled, toggle-button.disabled {
		opacity: 0.85;
		-webkit-filter: grayscale(100%);
	}
	button-spacer {
		height: 120px;
		width: 16px;
		background-color: #fafafa;
		float: left;
		margin-left: 12px;
		margin-top: -2px;
	}


	section.tabBG {
		background-color: #fff;
		height: 48px;
		width: 100%;
		position: fixed;
		top: 0;
	}

	div.content {
		width: 100%;
		box-sizing: border-box;
		padding: 24px 0 32px 0;
		background-color: #ccc;
		z-index: 1;
		top: calc(168px + 1em); 
		overflow-y: auto;
		position: absolute;
	}
}
	div.page {
		background-color: #fdfdfd;
		margin: 0 auto;
		width: 8.5in;
		min-height: 11in;
		padding: 0.5in;
		box-sizing: border-box;
		box-shadow: 0 0 8px #bbb;
		border: 1px solid #aaa;
		font-family: 'Libre Baskerville', monospace;
	}

	div.title {
		font-size: 48px;
		min-height: 48px;
		text-align: center;
		line-height: 0.975em;
		font-weight: bold;
		margin-bottom: 4px;
		font-variant: small-caps;
		cursor: pointer;
	}

	div.title::selection, table#players td::selection {
		background: #777;
		color: #eee;
	}

	table#players {
		width: 100%;
		border: none;
		border-collapse:collapse;
	}
	table#players tr {
		height: 16px;
	}
	table#players td {
		font-size: 10px;
		padding: 4px;
		border-bottom: 2px solid #777;
		text-align: right;
	}
	table#players th {
		background-color: #d00;
		font-weight: bold;
		font-variant: small-caps;
		font-size: 16px;
		padding: 8px;
		border-top: 2px solid black;
		border-right: 2px solid white;
		width: 1in;
	}
	table#players tr > th:last-child {
		border-right: none;
	}
	table#players tr > td:first-child {
		font-weight: bold;
	}
	
	table.roundByRound {
		border-collapse:collapse;
	}
	table.roundByRound td {
		border-bottom: 2px solid #777;
		width: 5em;
		text-align: right;
		padding: 2px 0;
	}
	table.roundByRound tr > td:first-child {
		text-align: left;
		font-weight: bold;
		width: 232px;
	}
	table.roundByRound tr:first-child td {
		font-weight: bold;
	}
	table.roundByRound tr:first-child td:first-child {
		text-align: right;
		font-style: italic;
		font-weight: normal;
		color: #444;
	}

	div.page > section {
		margin-top: 16px;
		border-top: 2px solid #aaa;
		padding: 0 0.125in;
		font-size: 0.9em;
		transition: opacity 200ms;
	}
	section#forecastGraph {
		page-break-inside: avoid;
	}
	div#graph {
		width: 6.5in;
		height: 3.25in;
		margin: 0 auto;
	}
	section#resultsSummary > div {
		font-size: 1em;
	}
	h1 {
		font-size: 2em;
		margin-bottom: 4px;
	}
	
	div#description {
		margin-top: 4px;
	}
	
	div.scalePoint {
		width: 100%;
		height: 24px;
		margin-top: 8px;
	}
	div.scalePoint input#value {
		width: 64px;
		border-left: none;
		z-index: 20;
	}
	div.scalePoint input {
		width: 5.5in;
		border: none;
		font-family: 'Libre Baskerville', monospace;
		background-color: #f0f0f0;
		padding: 2px 4px;
		border-left: 1px solid #aaa;
	}
	div.scalePoint label {
		margin-left: 16px;
	}
	button.deleteScale:hover {
		background-color: #e00;
		transition: all 200ms;
	}
	button.deleteScale {
		width: 24px;
		height: 24px;
		font-weight: bold;
		font-size: 17px;
		font-family: "Courrier New", monospace;
		border: none;
		background-color: #C00;
		color: #FFF;
		border-radius: 16px;
		margin-left: 8px;
		cursor: pointer;
	}

@media screen {
	li.fileObject {
		border-radius: 2px;
		cursor: pointer;
		padding: 2px 8px;
		font-size: 12px;
	}
	li.selected {
		background-color: #7d7;
	}

	button.red, button.gray {
		border: 1px solid #aaa;
		border-radius: 2px;
		padding: 8px 0;
		width: 108px;
		font-family: "Segoe UI", "Courier New", monspace;
		font-size: 12px;
		cursor: pointer;
		transition: all 150ms;
		margin-top: 16px;
	}
	button.red {
		background-color: #d00;
		border: 1px solid #444;
	}
	
	div.code {
		font-family: "Courier New", monospace;
		margin-left: 8px;
		padding: 4px;
		border: 1px solid #aaa;
		border-radius: 2px;
		word-wrap: break-word;
		-webkit-user-select: initial;
		overflow-y: auto;
		max-height: 200px;
	}
	textarea#file {
		width: 100%;
		height: 200px;
		font-family: "Courier New", monospace;
	}
	textarea {
		resize: none;
		margin-top: 4px;
		width: 240px;
		height: 144px;
		padding: 2px 4px;
		border: 1px solid #c00;
		font-family: "Segoe UI", "Arial", sans-serif;
	}
	
	software-license {
		font-size: 0.95em;
		font-style: italic;
		font-family: monospace;
		color: #888;
		position: fixed;
		top: 8px;
		right: 4px;		
		z-index: 125;
	}

	software-copyright {
		font-size: 0.85em;
		font-style: italic;
		font-family: monospace;
		color: #777;
		position: relative;
		z-index: 100;
		float: right;
		bottom: -2em;
		right: 12px;
	}

	watermark-label { 
		visibility: hidden; 
	}

	input[type="text"] {
		width: 240px;
		border: 1px solid #c00;
		padding: 2px 4px;
		margin-top: 2px;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0; 
	}
	
	select {
		width: 200px;
		padding: 2px;
		border: 1px solid #c00;
		font-family: "Segoe UI", "Arial", sans-serif;
	}
	
	::-webkit-scrollbar {
		width: 16px;
	}
	::-webkit-scrollbar-thumb {
		background: -webkit-linear-gradient(left, transparent 20%, #777 20%, #777 80%, transparent 80%);
		background-size: 16px 96%;
		background-repeat: no-repeat;
		background-position-y: 7px;  
	}
	div.page *::-webkit-scrollbar-thumb {
		background: -webkit-linear-gradient(top, transparent 30%, #777 30%, #777 70%, transparent 70%);
		background-position-y: 0;
	}
	
	.notransition {
		transition: none;
	}
	.showSection {
		display: block;
	}
	.hideSection {
		display: none;
	}
}

@media print {
	body * {
		visibility: hidden;
	}
	div.content * {
		visibility: visible;
	}
	div.page {
		width: 100%;
		min-height: 0;
		padding: 0;
		margin: 0;
		background-color: white;
		box-shadow: none;
		border: none;
	}
	div.title {
		font-size: 32px;
		min-height: 32px;
		border-bottom: 2px solid #aaa;
		padding: 0.0625in;
	}
	table#players th {
		background-color: #ccc;
	}
	
	div.content {
		min-height: 100%;
		position: static;
	}
	
	div.page > section {
		border-top: 2px solid transparent;
	}
	
	section#roundByRound > div > div {
		overflow-x: visible !important;
	}
	
	div.scalePoint {
		margin-top: -2px;
	}
	div.scalePoint > input {
		background-color: transparent;
		border-left: none;
		padding: 0;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0; 
	}
	button {
		display: none;
	}
	label {
		display: none;
	}
	
	select {
		border: none;
		font-size: 1.5em;
		font-family: 'Libre Baskerville', monospace;
		-webkit-appearance: none;
	}
	
	watermark-label { 
		visibility: visible;
		position: absolute; 
		text-align: right;
		width: calc(100% - 1em);
		border-top: 1px solid #777;
		padding: 0.03125in;
		bottom: -0.325in;
		font-size: 0.6em;
		font-family: "Courrier New", monospace;
		color: #444;
	}
	software-copyright { display: none; }
}
@page {
	margin: 0.5in;
	size: portrait;
}